<template>
  <div class="flex flex-col h-screen w-screen items-center relative">
    <p class="absolute right-3 top-3 cursor-pointer" @click="setRegister(false)" v-if="register">
      Register
      <font-awesome-icon icon="plus" />
    </p>
    <p class="absolute right-3 top-3 cursor-pointer" @click="setRegister(true)" v-if="!register">
      Login
      <font-awesome-icon icon="minus" />
    </p>
    <h1 class="text-[23px] font-bold mb-10 mt-20">Welcome to Chucker</h1>
    <Login v-if="register" />
    <SignUp v-else />
  </div>
</template>
<script setup>
import { onMounted, ref } from 'vue';
import SignUp from '../components/SigneUp.vue';
import Login from '../components/Login.vue';
import { useStore } from 'vuex';
import { MutationsUser } from '../store/auth/auth.type';

const store = useStore();

const register = ref(true);
const setRegister = (value) => {
  register.value = value;
};
onMounted(() => {
  store.commit(MutationsUser.SET_USER, []);
});
</script>
