<template>
  <div class="flex flex-col overflow-auto h-screen justify-around items-center relative">
    <div class="absolute top-2 left-2">
      <button @click="setting = !setting" class="text-white border-white border-2 p-3 rounded-full uppercase cursor-pointer">
        {{ user[0].name }}
      </button>
      <div v-if="setting">
        <ul>
          <li class="pt-2 pl-2 text-xl">
            <p @click="settingClick = !settingClick" class="cursor-pointer pt-1 pl-1 bg-blue-500 mb-0 rounded-t-md">
              <font-awesome-icon icon="gear" class="mr-2 h-7" />
              Setting
            </p>
            <ul v-if="settingClick" class="ml-0 mt-0 underline border-2 border-white">
              <li @click="putUserName" class="ml-7 cursor-pointer">UserName</li>
              <li @click="putUserEmail" class="ml-7 cursor-pointer">Email</li>
              <li @click="putUserPassword" class="ml-7 cursor-pointer">Password</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <p class="absolute top-2 right-2 text-white hover:text-blue-800 hover:underline font-semibold">
      <router-link to="/">Disconnect</router-link>
    </p>
    <h1 class="text-[96px] font-bold text-center">Chucker</h1>
    <p class="text-[36px] w-4/5" :class="{ 'pl-8': settingClick }">{{ jocker.value }}</p>
    <div class="flex justify-around my-10 w-4/5">
      <p @click="addLike">
        <font-awesome-icon icon="thumbs-up" class="h-20 cursor-pointer" :class="{ 'animate-wiggle': animationLike }" />
      </p>
      <p>
        <font-awesome-icon icon="thumbs-down" @click="addNoLike" class="h-20 cursor-pointer" :class="{ 'animate-bounce': animationNoLike }" />
      </p>
    </div>
    <div class="flex justify-between px-20 w-full">
      <div>
        <p><font-awesome-icon icon="thumbs-up" class="w-20 h-10" /></p>
        <p class="relative">
          <font-awesome-icon icon="database" @click="showListLike" class="h-20 cursor-pointer" />
          <span class="bg-red-500 text-white rounded-full px-2 absolute bottom-0 right-[-5px]">{{ listLike.length }}</span>
        </p>
      </div>
      <div class="p-0">
        <p><font-awesome-icon icon="thumbs-down" class="w-20 h-10" /></p>
        <p class="relative">
          <font-awesome-icon icon="database" @click="showListNoLike" class="h-20 cursor-pointer" />
          <span class="bg-red-500 text-white rounded-full px-2 absolute bottom-0 right-[-5px]">{{ listNoLike.length }}</span>
        </p>
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, onMounted, ref } from '@vue/runtime-core';
import { useStore } from 'vuex';
import { Actions } from '../store/jocker/jocker.type';
import { ActionsUser } from '../store/auth/auth.type';
import router from '../router';
import moment from 'moment';

const errorJocker = ref('');
const animationLike = ref(false);
const animationNoLike = ref(false);
const setting = ref(false);
const settingClick = ref(false);

const store = useStore();

const jocker = computed(() => store.getters.jocker);
const listLike = computed(() => store.getters.listLike);
const listNoLike = computed(() => store.getters.listNoLike);
const user = computed(() => store.getters.user);

const addLike = () => {
  animationLike.value = true;
  errorJocker.value = '';
  const dateTime = moment().format('DD/MM/yyyy hh:mm');
  const proxyUser = new Proxy(user.value, {});
  const data = {
    jockerData: jocker.value,
    user_id: proxyUser[0].id,
    date: dateTime,
  };
  try {
    store.dispatch(Actions.ADD_LIST_lIKE, data);
  } catch (error) {
    errorJocker.value = error;
  }
  setTimeout(() => {
    animationLike.value = false;
  }, 200);
};

const addNoLike = () => {
  animationNoLike.value = true;
  errorJocker.value = '';
  const dateTime = moment().format('DD/MM/yyyy hh:mm');
  const proxyUser = new Proxy(user.value, {});
  const data = {
    jockerData: jocker.value,
    user_id: proxyUser[0].id,
    date: dateTime,
  };
  try {
    store.dispatch(Actions.ADD_LIST_NO_LIKE, data);
  } catch (error) {
    errorJocker.value = error;
  }
  setTimeout(() => {
    animationNoLike.value = false;
  }, 200);
};

const showListLike = () => {
  errorJocker.value = '';
  const proxyList = new Proxy(listLike.value, {});
  if (proxyList.length > 0) {
    store.dispatch(Actions.GET_LIST_LIKE_CLICK, true);
    router.push({ name: 'listLike' });
  }
};

const showListNoLike = () => {
  errorJocker.value = '';
  const proxyList = new Proxy(listNoLike.value, {});
  if (proxyList.length > 0) {
    store.dispatch(Actions.GET_LIST_LIKE_CLICK, false);
    router.push({ name: 'listLike' });
  }
};

const putUserName = () => {
  store.dispatch(ActionsUser.GET_USER_NAME_BOOL, true);
  router.push({ name: 'setting' });
};

const putUserEmail = () => {
  store.dispatch(ActionsUser.GET_USER_EMAIL_BOOL, true);
  router.push({ name: 'setting' });
};

const putUserPassword = () => {
  store.dispatch(ActionsUser.GET_USER_PASSWORD_BOOL, true);
  router.push({ name: 'setting' });
};
onMounted(() => {
  const proxyUser = new Proxy(user.value, {});
  store.dispatch(Actions.GET_LIST_LIKE, proxyUser[0].id);
  store.dispatch(Actions.GET_LIST_NO_LIKE, proxyUser[0].id);
});
</script>
