<template>
  <div class="flex flex-col h-screen w-screen relative">
    <p class="absolute top-2 left-2 text-white">
      <router-link :to="{ name: 'header' }">
        <font-awesome-icon icon="arrow-left-long" class="mr-2" />
        <span>go Back</span>
      </router-link>
    </p>
    <h1 class="self-center text-[60px] font-bold mt-16">
      {{ title }}
      <font-awesome-icon v-if="listClick" icon="thumbs-up" />
      <font-awesome-icon v-if="!listClick" icon="thumbs-down" />
    </h1>
    <div class="overflow-y-auto">
      <ul class="pl-5 flex-shrink-0 w-full list-disc uppercase">
        <li v-for="(like, index) in listLike" :key="index" class="mb-5 last:mb-2">{{ like.date }} - {{ like.jockerData.value }}</li>
      </ul>
    </div>
  </div>
</template>
<script setup>
import { useStore } from 'vuex';
import { computed } from 'vue';

const store = useStore();

const listClick = computed(() => store.getters.listLikeClick);
const title = computed(() => {
  return listClick.value ? 'List of good jokes' : 'List of bad jokes';
});

const listLike = computed(() => {
  return listClick.value ? store.getters.listLike : store.getters.listNoLike;
});
</script>
