<template>
  <div class="flex flex-col items-center h-screen relative">
    <p class="absolute left-0 top-0 text-white cursor-pointer" @click="settingValueBool">
      <font-awesome-icon icon="arrow-left-long" class="mr-2" />
      <span>go Back</span>
    </p>
    <p class="text-[36px] font-bold mb-10 mt-20">Setting user authenticate</p>
    <SettingName v-if="nameSetting" />
    <SettingEmail v-if="emailSetting" />
    <SettingPassword v-if="passwordSetting" />
  </div>
</template>

<script setup>
import SettingName from '../components/SettingName.vue';
import SettingEmail from '../components/SettingEmail.vue';
import SettingPassword from '../components/SettingPassword.vue';
import { useStore } from 'vuex';
import { computed } from '@vue/runtime-core';
import { ActionsUser } from '../store/auth/auth.type';
import router from '../router';

const store = useStore();

const nameSetting = computed(() => store.getters.userNameBool);
const emailSetting = computed(() => store.getters.userEmailBool);
const passwordSetting = computed(() => store.getters.userPasswordBool);

const settingValueBool = () => {
  if (nameSetting.value) {
    store.dispatch(ActionsUser.GET_USER_NAME_BOOL, false);
  }

  if (emailSetting.value) {
    store.dispatch(ActionsUser.GET_USER_EMAIL_BOOL, false);
  }

  if (passwordSetting.value) {
    store.dispatch(ActionsUser.GET_USER_PASSWORD_BOOL, false);
  }

  router.push({ name: 'header' });
};
</script>
