<template>
  <div>
    <Form class="flex flex-col items-center relative" @submit="onSubmit" :validation-schema="schema">
      <p v-if="errorIdentification" class="bg-red-300 rounded-sm p-3 mb-3 uppercase">{{ errorIdentification }}</p>
      <p class="mb-5">
        <label for="name">Username</label><br />
        <Field class="border-b-4 w-96 border-black bg-transparent" id="name" name="name" type="text" />
        <br />
        <ErrorMessage name="name" class="text-red-600" />
      </p>

      <p class="mb-8">
        <label for="password">Password</label><br />
        <Field class="border-b-4 w-96 border-black bg-transparent" id="password" name="password" type="password" />
        <br />
        <ErrorMessage name="password" class="text-red-600" />
      </p>
      <p class="absolute right-0 bottom-0">
        <button>Login <font-awesome-icon icon="arrow-right" /></button>
      </p>
    </Form>
  </div>
</template>
<script setup>
import { Form, Field, ErrorMessage } from 'vee-validate';
import * as yup from 'yup';
import { ActionsUser } from '../store/auth/auth.type';
import { useStore } from 'vuex';
import router from '../router';
import { ref } from 'vue';

const store = useStore();
const errorIdentification = ref('');

const schema = yup.object().shape({
  name: yup.string().min(5).required().label('Your name'),
  password: yup.string().min(6).required().label('Your password'),
});

const onSubmit = async (values) => {
  try {
    await store.dispatch(ActionsUser.GET_USER, values);
    router.push({ name: 'header' });
  } catch (err) {
    errorIdentification.value = err;
  }
};
</script>
