<template>
  <div>
    <Form class="flex flex-col relative" :validation-schema="schema" @submit="onSubmit">
      <p v-if="errorPassword" class="bg-red-400 uppercase text-center mb-2 p-2">{{ errorPassword }}</p>
      <p class="mb-5">
        <label for="oldPassword">Old Password</label><br />
        <Field name="oldPassword" id="oldPassword" type="password" class="border-b-4 border-black w-96 bg-transparent" />
        <br />
        <ErrorMessage name="oldPassword" class="text-red-500" />
      </p>

      <p class="mb-5">
        <label for="newPassword">New Password</label><br />
        <Field name="newPassword" id="newPassword" type="password" class="border-b-4 border-black w-96 bg-transparent" />
        <br />
        <ErrorMessage name="newPassword" class="text-red-500" />
      </p>

      <p class="mb-8">
        <label for="confirmPassword">Confirm Password</label><br />
        <Field name="confirmPassword" id="confirmPassword" type="password" class="border-b-4 border-black w-96 bg-transparent" />
        <br />
        <ErrorMessage name="confirmPassword" class="text-red-500" />
      </p>

      <p class="absolute right-0 bottom-0 bg-gray-500 px-3 rounded-sm shadow-md shadow-gray-600 text-blue-200">
        <button>Modifi</button>
      </p>
    </Form>
  </div>
</template>
<script setup>
import { computed, ref } from '@vue/runtime-core';
import { Form, Field, ErrorMessage } from 'vee-validate';
import { ActionsUser } from '../store/auth/auth.type';
import { useStore } from 'vuex';
import router from '../router';
import * as yup from 'yup';

const errorPassword = ref('');

const store = useStore();

const user = computed(() => store.getters.user);

const schema = yup.object().shape({
  oldPassword: yup.string().required().label('Old Password'),
  newPassword: yup.string().min(6).matches('[A-Z]+').matches('[@#&%$]+').required().label('New Password'),
  confirmPassword: yup
    .string()
    .oneOf([yup.ref('newPassword'), null])
    .required()
    .label('Confirm Password'),
});

const onSubmit = async (values) => {
  const proxyUser = new Proxy(user.value, {});
  const data = {
    name: proxyUser[0].name,
    newPassword: values.newPassword,
    oldPassword: values.oldPassword,
    email: proxyUser[0].email,
    id: proxyUser[0].id,
  };

  try {
    console.log(data);
    await store.dispatch(ActionsUser.PUT_PASSWORD, data);
    store.dispatch(ActionsUser.GET_USER_PASSWORD_BOOL, false);
    router.push({ name: 'connection' });
  } catch (error) {
    errorPassword.value = error;
  }
};
</script>
