<template>
  <div>
    <Form class="flex flex-col relative" :validation-schema="schema" @submit="onSubmit">
      <p v-if="errorChange" class="bg-red-400 uppercase text-center mb-2 p-2">{{ errorChange }}</p>
      <p class="mb-5">
        <label for="name">New Username</label><br />
        <Field name="name" id="name" type="text" class="border-b-4 border-black w-96 bg-transparent" />
        <br />
        <ErrorMessage name="name" class="text-red-500" />
      </p>

      <p class="mb-8">
        <label for="password">Password</label><br />
        <Field name="password" id="password" type="password" class="border-b-4 border-black w-96 bg-transparent" />
        <br />
        <ErrorMessage name="password" class="text-red-500" />
      </p>

      <p class="absolute right-0 bottom-0 bg-gray-500 px-3 rounded-sm shadow-md shadow-gray-600 text-blue-200">
        <button>Modifi</button>
      </p>
    </Form>
  </div>
</template>

<script setup>
import { computed, ref } from '@vue/runtime-core';
import { Form, Field, ErrorMessage } from 'vee-validate';
import { useStore } from 'vuex';
import * as yup from 'yup';
import { ActionsUser } from '../store/auth/auth.type';
import router from '../router';

const errorChange = ref('');

const store = useStore();

const user = computed(() => store.getters.user);

const schema = yup.object().shape({
  name: yup.string().min(5).required().label('Name'),
  password: yup.string().required().label('Password'),
});

const onSubmit = async (values) => {
  console.log(values);
  const proxyUser = new Proxy(user.value, {});
  const data = {
    name: values.name,
    password: values.password,
    oldName: proxyUser[0].name,
    email: proxyUser[0].email,
    id: proxyUser[0].id,
  };

  try {
    await store.dispatch(ActionsUser.PUT_NAME, data);
    store.dispatch(ActionsUser.GET_USER_NAME_BOOL, false);
    router.push({ name: 'header' });
  } catch (error) {
    console.log(error);
  }
};
</script>
