<template>
  <div>
    <Form :validation-schema="schema" @submit="onSubmit" class="flex flex-col relative">
      <p v-if="errorEmail" class="bg-red-400 uppercase text-center mb-2 p-2">{{ errorEmail }}</p>
      <p class="mb-5">
        <label for="email">New Email</label><br />
        <Field name="email" id="email" type="text" class="border-b-4 border-black w-96 bg-transparent" />
        <br />
        <ErrorMessage name="email" class="text-red-500" />
      </p>
      <p class="mb-8">
        <label for="password">Password</label><br />
        <Field name="password" id="password" type="password" class="border-b-4 border-black w-96 bg-transparent" />
        <br />
        <ErrorMessage name="password" class="text-red-500" />
      </p>

      <p class="absolute right-0 bottom-0 bg-gray-500 px-3 rounded-sm shadow-md shadow-gray-600 text-blue-200">
        <button>Modifi</button>
      </p>
    </Form>
  </div>
</template>
<script setup>
import { Field, Form, ErrorMessage } from 'vee-validate';
import * as yup from 'yup';
import { useStore } from 'vuex';
import { computed, ref } from '@vue/runtime-core';
import { ActionsUser } from '../store/auth/auth.type';
import router from '../router';

const errorEmail = ref('');

const store = useStore();

const user = computed(() => store.getters.user);

const schema = yup.object().shape({
  email: yup.string().email().required().label('Email'),
  password: yup.string().required().label('Password'),
});

const onSubmit = async (values) => {
  console.log(values);
  const proxyUser = new Proxy(user.value, {});
  const data = {
    name: proxyUser[0].name,
    email: values.email,
    password: values.password,
    id: proxyUser[0].id,
  };
  try {
    await store.dispatch(ActionsUser.PUT_EMAIL, data);
    store.dispatch(ActionsUser.GET_USER_EMAIL_BOOL, false);
    router.push({ name: 'header' });
  } catch (error) {
    errorEmail.value = error;
  }
};
</script>
