<template>
  <div>
    <Form class="flex flex-col items-center relative h-full" @submit="onSubmit" :validation-schema="schema">
      <p v-if="error" class="bg-red-300 rounded-sm p-3 mb-3 uppercase text-center">{{ error }}</p>
      <p class="mb-5">
        <label for="name">Username</label><br />
        <Field class="border-b-4 w-96 border-black bg-transparent" name="name" id="name" type="text" />
        <br />
        <ErrorMessage name="name" class="text-red-500" />
      </p>

      <p class="mb-5">
        <label for="email">Email</label><br />
        <Field class="border-b-4 w-96 border-black bg-transparent" id="email" name="email" type="email" />
        <br />
        <ErrorMessage name="email" class="text-red-500" />
      </p>

      <p class="mb-5">
        <label for="password">Password</label><br />
        <Field class="border-b-4 w-96 border-black bg-transparent" name="password" type="password" />
        <br />
        <ErrorMessage name="password" class="text-red-500" />
      </p>

      <p class="mb-8">
        <label for="confirm">Confirm Password</label><br />
        <Field class="border-b-4 w-96 border-black bg-transparent" id="confirm" name="passwordConfirmation" type="password" />
        <br />
        <ErrorMessage name="passwordConfirmation" class="text-red-500" />
      </p>

      <p class="absolute right-0 bottom-0">
        <button>Register <font-awesome-icon icon="arrow-right" /></button>
      </p>
    </Form>
  </div>
</template>
<script setup>
import { Form, Field, ErrorMessage } from 'vee-validate';
import * as yup from 'yup';
import { useStore } from 'vuex';
import { ActionsUser } from '../store/auth/auth.type';
import router from '../router';
import { ref } from 'vue';

const error = ref('');

const store = useStore();

const schema = yup.object().shape({
  name: yup.string().min(5).required().label('Name'),
  email: yup.string().email().required().label('Your E-Mail'),
  password: yup
    .string()
    .min(6)
    .required()
    .matches('[A-Z]+', 'is not in correct format')
    .matches('[@#&%$]+', 'is not in correct format')
    .label('Your password'),
  passwordConfirmation: yup
    .string()
    .oneOf([yup.ref('password'), null], 'Passwords must match')
    .required('Passwords must match'),
});

const onSubmit = async (values) => {
  const data = {
    name: values.name,
    email: values.email,
    password: values.password,
  };
  try {
    await store.dispatch(ActionsUser.ADD_USER, data);
    await store.dispatch(ActionsUser.GET_USER, data);
    router.push({ name: 'header' });
  } catch (err) {
    error.value = err;
  }
};
</script>
