<template>
  <div class="font-montserrat h-full bg-gradient-to-r from-fuchsia-500 to-indigo-400">
    <router-view />
  </div>
</template>

<script setup>
import { onMounted } from 'vue';
import { useStore } from 'vuex';
import { Actions } from './store/jocker/jocker.type';

const store = useStore();

onMounted(() => {
  store.dispatch(Actions.GET_JOCKER);
});
</script>
